{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .income__main {
        margin-top: 30px !important;
    }
</style>

<div class="container">
    <div class="mt-2"></div>

    <div class="row income__main">

        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Income Summary</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Summary<a href=""></a></li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2 mt-1">
            <a href="#" class="btn btn-block btn-primary"/>Back</a>
        </div>

        <div class="" style="height:500px; width:500px; margin:0 auto;">
            <canvas id="my_chart" class="myChart" width="400" height="400"></canvas>
        </div>
    </div>

    
</div>


<script src="{% static 'js/income-stats.js' %}">


</script>



{% endblock %}